html,body{height:100%;color: black;}
html,body{height:800px;background-image: url(fondo-de-líneas-movimiento-color-claro-resumen-curvadas-y-formas-onda-sobre-gradiente-horizontal-borroso-tonos-matices-la-línea-173525556.jpg);
background-repeat: repeat;
background-size: 40rem ;
}
#contenido{width: 700px;margin: 0 auto;}